@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {}

body {
    font-family: 'Acme', sans-serif;
    font-family: 'Thasadith', sans-serif;
}

header {
    height: 200px;
    left: 0;
    right: 0;
    background-color: coral;
    color: white;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.nav {
    width: 80%;
}

.nav h2 {
    flex-wrap: wrap;
    float: left;
    padding: 15px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
    letter-spacing: 1.5px;
}


/*
.nav button {
    flex-wrap: wrap;
    float: right;
    box-shadow: 0px 10px 13px -8px #eb9226;
    background: linear-gradient(to bottom, #fc6060 5%, #f5c36c 100%);
    background-color: #fc6060;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 26px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #630c25;
    padding: 15px;
}

.nav button:hover {
    background: linear-gradient(to bottom, #f5c36c 5%, #fc6060 100%);
    background-color: #f5c36c;
}

.nav button:active {
    position: relative;
    top: 1px;
}
*/

.index {
    height: 600px;
    left: 0;
    right: 0;
}

img {
    height: 600px;
    width: 100%;
}

.nav button {
    flex-wrap: wrap;
    float: right;
    width: 80px;
    height: 40px;
    border-radius: 180px;
    position: relative;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    cursor: pointer;
    line-height: 12px;
    margin: 15px;
}

button:before {
    content: 'login';
    z-index: 1;
    position: absolute;
    display: block;
    width: 80%;
    height: 70%;
    top: 15%;
    left: 10%;
    transition: 0.3s opacity ease-in-out;
    filter: blur(15px);
    opacity: 0;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

button:hover:before {
    opacity: 1;
    transition: 0.3s opacity ease-in-out;
    filter: blur(25px);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

button:after {
    content: 'login';
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: rgba(235, 235, 235, 1);
    font-weight: bold;
    z-index: 5;
    position: absolute;
    display: block;
    border-radius: 180px;
    width: 92%;
    height: 80%;
    top: 10%;
    left: 4%;
    background-color: rgb(19, 20, 22);
}

.section1 {
    display: flex;
    height: 400px;
    left: 0;
    right: 0;
    color: white;
}

.section1 .section1-item1 {
    height: 100%;
    width: 50%;
    flex-wrap: wrap;
    display: grid;
    place-items: center;
    text-decoration: none;
}

.section1-item1 .section-item-contain1 {
    height: 80%;
    width: 60%;
}

.section1 .section1-item2 {
    height: 100%;
    width: 50%;
    flex-wrap: wrap;
    display: grid;
    place-items: center;
    text-decoration: none;
}

.section1-item2 .section-item-contain2 {
    height: 80%;
    width: 60%;
}

.section2 {
    height: 200px;
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
}

.section2 .section2-item1 {
    height: 100%;
    width: 80%;
    background-color: #c9c6c4;
}

.section-item-contain1 p {
    display: grid;
    place-items: center;
    font-size: 20px;
    padding: 25px;
    color: black;
}

.section-item-contain2 p {
    display: grid;
    place-items: center;
    font-size: 20px;
    color: black;
    padding: 25px;
}

.section2-item1 p {
    display: grid;
    place-items: center;
    font-size: 20px;
    color: black;
    padding: 25px;
}

.news1 {
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
    margin: 25px;
}

.news1 .news1-item {
    height: 100%;
    width: 80%;
    font-size: 25px;
}

.hatasayfasi {
    height: 100vh;
    left: 0;
    right: 0;
    color: red;
    display: grid;
    place-items: center;
    margin: 55px;
}

.hatasayfasi .mesaj {
    height: 100%;
    width: 80%;
    font-size: 80px;
    font-family: 'Roboto Condensed', sans-serif;
}